/* Styles go here */
.cell {
  display: table-cell;
  width: 75px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
  font-family: impact;
  text-shadow: 1px 1px gold;
  background: gold;
  border: 1px solid goldenrod;
  line-height: 48px;
}

.winner  {
  background: yellow;
}

.loser {
  background: gray;
}


/*
body {
  text-align: center;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.game {
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.cell {
  display:table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  background: gold;
  width:75px;
  height:75px;
  border: 2px solid goldenrod;
  font-size: 45px;
  font-family: impact;
  text-shadow: 2px 2px yellow;
}

.cell:after {
  display: block;
  text-shadow: none;
  text-align: center;
  content: attr(data-coordinates);
  font-size: 10px;
  color: #333333;
  position: absolute;
  left: 42%;
  bottom: 0;
}

xmp {
  display: none;
}
*/