<div class='container-fluid'>
  <div class='row-fluid'>
    <button class='btn btn-success' ng-click='save()'><i class='glyphicon glyphicon-floppy-save'></i> Save</button>
    <button class='btn btn-primary' ng-click='load()'><i class='glyphicon glyphicon-floppy-open'></i> Load Saved Code</button>
    <div style='background: beige; padding: 3px;'>      
      <div>
        <span class='btn-group'>
          <button type='button' 
            class='btn btn-info'
            ng-model='displays.step'
            btn-checkbox>Mission</button>
          <button type='button' 
            class='btn btn-primary'
            ng-model='displays.html'
            btn-checkbox><img src="http://www.w3.org/html/logo/downloads/HTML5_Badge_512.png" height="18" width="18" /> HTML</button>
          <button type='button' 
            class='btn btn-primary'
            ng-model='displays.css'
            btn-checkbox><img src="http://blogs.msdn.com/cfs-filesystemfile.ashx/__key/communityserver-blogs-components-weblogfiles/00-00-01-38-13-metablogapi/2158.CSS3_2D00_Logo_5F00_6972ADFA.png" height="18" width="18" /> CSS</button>
          <button type='button'
            class='btn btn-primary'
            ng-model='displays.js'
            btn-checkbox><img src="http://i.stack.imgur.com/Mmww2.png" height="18" width="18" /> JS</button>
          <button type='button' 
            class='btn btn-success'
            ng-click='preview()'
            ng-show='!displays.preview'
            ><i class='glyphicon glyphicon-eye-open'></i> Show Preview</button>
          <button type='button' 
            class='btn btn-inverse'
            ng-click='previewHide()'
            ng-show='displays.preview'
            ><i class='glyphicon glyphicon-eye-close'></i> Hide Preview</button>        
          <button type='button' 
            class='btn btn-success'
            ng-click='preview()'
            ng-show='displays.preview'
            ><i class='glyphicon glyphicon-refresh'></i> Update Preview</button>
        </span>
        <span ng-show='displays.preview'>Update when typing? <input 
          type="checkbox"
          ng-model="update.whenTyping" />
        </span>
        <span ng-show='displays.preview'>Show preview below? <input 
            type="checkbox"
            ng-model='update.previewBelow' />
        </span>        
      </div>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='editor {{getEditorsClass()}}' ng-show='displays.step' id='step'>
      <div style='padding: 3px'><strong>Step</strong> <i class='glyphicon glyphicon-tower'></i></div>      
      <div ng-bind-html='code.story'></div>
    </div>
    <div class='editor {{getEditorsClass()}}' ng-show='displays.html'>
      <div style='background: #F06428; color: black;'><strong>HTML</strong> <i class='glyphicon glyphicon-edit'></i></div>
      <div class='ace_wrapper'>        
        <div style='margin-top: 0px' ui-ace="{
          theme: 'chrome',
          useWrapMode: true,
          showGutter: true,
          mode: 'html',
          onLoad: htmlLoaded
        }" ng-model="code.code['html']"></div>
      </div>
    </div>
    <div class='editor {{getEditorsClass()}}' ng-show='displays.css'>
      <div style='background: #3B9ADB; color: black;'><strong>CSS</strong> <i class='glyphicon glyphicon-edit'></i></div>
      <div class='ace_wrapper'>
        <div ui-ace="{
          theme: 'chrome',
          useWrapMode: true,
          showGutter: true,
          mode: 'css',
          onLoad: cssLoaded
        }" ng-model="code.code['css']"></div>
      </div>
    </div>
    <div class='editor {{getEditorsClass()}}' ng-show='displays.js'>
      <div style='background: #F0DB4F; color: black'><strong>JS</strong> <i class='glyphicon glyphicon-edit'></i></div>
      <div class='ace_wrapper'>    
        <div ui-ace="{
          theme: 'chrome',
          useWrapMode: true,
          showGutter: true,
          mode: 'javascript',
          onLoad: jsLoaded
        }" ng-model="code.code['js']"></div>
      </div>
    </div>
    <div class='editor {{getPreviewClass()}}' ng-show='displays.preview'>
      <div><strong>Preview</strong> <i class='glyphicon glyphicon-eye-open'></i></div>
      <iframe class='preview' style='width: 100%;border: 2px double darkgray' id='{{code.id}}'></iframe>
    </div>    
  </div>
</div>