<!DOCTYPE html>
<html>
	<head>
		<title>CoderDojo Ponce Springs - Tic Tac Toe Tutorial</title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	    <link rel='stylesheet' href='lib/bootstrap/css/bootstrap.min.css' />
	    <link rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css' />
	    <link href='css/indexa.css' rel='stylesheet' media='screen' />
		<link href='css/snap.css' rel='stylesheet' />
		<link href='css/angular-snap.css' rel='stylesheet' />
	    <style>
body {
	margin: 0;
	padding: 0 !important;
}

iframe {
  background: white;
  height: 300px;
}

.editor {
  border: 1px solid darkgray;
  background: black;
  color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ace_wrapper {  
}

.ace_editor {
  height: inherit;
}

.html {
  background: yellow;
}

.css {
  background: orange;
}

.js {
  background: dodgerblue;
}

.modal {
  display: block;
  height: 0;
  overflow: visible;
}

.hide {
    display: none;
}

.navbar {
	margin-bottom: 0 !important;
}

.fill {
	min-height: 100%;
	height: 100%;
}
    	</style>
		<script src='lib/jquery/jquery-1.11.0.min.js'></script>	
		<script src='//code.jquery.com/ui/1.10.4/jquery-ui.js'></script>
		<script src='lib/angular/angular.min.js'></script>
		<script src='lib/angular/angular-resource.min.js'></script>
	    <script src='lib/angular-bootstrap/js/ui-bootstrap-tpls-0.10.0.min.js'></script>
	    <script src='lib/bootstrap/js/bootstrap.min.js'></script>
	    <script src="lib/ace/ace.js" charset="utf-8"></script>
	    <script src="lib/ui-ace/ui-ace.js"></script>
	    <script src="lib/snap.js"></script>
	    <script src="lib/angular-snap.js"></script>
	</head>
	<body class='container-fluid center' ng-cloak ng-controller='tutorialController'>
		<!--
	    	<button class='btn btn-info btn-mini' ng-click='peersVisible = !peersVisible' ng-show='!peersVisible'>Show Peers</button>
		-->
		<snap-drawer>
			<div class='container-fluid center fill' style='background: palegreen'>
				<ul class="nav nav-pills nav-stacked" ng-controller='identityController'>
					<li ng-show='!userLoggedIn'><a class='btn btn-success' href="#" ng-click='showIdentifyUserDialog()'><strong>Log In or Register</strong>&nbsp;<i class='glyphicon glyphicon-user'></i></a></li>
					<li ng-show='userLoggedIn'><a class='btn btn-success' style='background: darkblue' href="#"><strong>Welcome, {{userName}}!</strong></a></li>
				</ul>
				<h3 style='text-align:center'><i class='glyphicon glyphicon-flag'></i>&nbsp;Your Quest:</h3>
				<div class='panel panel-primary'>
					<div class='panel-heading'><h4>{{questInfo.title}}</h4></div>
					<div class='panel-body'>
						<div style='text-align:center'><small><strong>{{questMissionsComplete}} of {{questMissionsTotal}} Missions completed</strong></small></div>
						<progressbar animate="false" value="questPercentComplete()" type="success" style="text-align:center"><b style='padding-left:3px;padding-right:3px;'>{{questPercentComplete()}}%</b></progressbar>						
						<tabset>
							<tab heading="Brief">
								<div style='padding-top: 5px'>{{questInfo.description}}
								</div>
							</tab>
							<tab heading="Missions">
								<div style='padding-top:5px'>
									<accordion close-others="true">	
										<accordion-group is-open='false' ng-repeat='mission in missions'>
											<accordion-heading>
										        <i class="pull-right glyphicon glyphicon-chevron-right"></i> {{mission.title}}
										    </accordion-heading>
										  	{{mission.description}}
										  	<br />
											<button class='btn btn-success btn-mini' ng-click='stepLoad(mission.href)'>Load Mission <i class='glyphicon glyphicon-play'></i></button>
										</accordion-group>
									</accordion>
								</div>
							</tab>
						</tabset>
					</div>
				</div>
			</div>			
		</snap-drawer>
		<div snap-content>
			<nav class="navbar navbar-default" role="navigation">
			  <a href="#" class="navbar-brand" style='background: lightblue;' snap-toggle='left'><span ng-show='menuVisible'>&nbsp;</span><strong>Menu</strong>&nbsp;<i class='glyphicon glyphicon-transfer'></i></a><span class='navbar-brand'><i class='glyphicon glyphicon-signal'></i> <strong>Learnlocity</strong>: <em>build your brain velocity!</em></span>
			</nav>		
		    <div class='container-fluid fill' id='mainPanel' style='background:white'>
		    	<div class='row-fluid'>
					<div class="jumbotron" ng-show='homeVisible'>
						<h1>Welcome to Learnlocity!</h1>
						<p>Get started building your brain's learning velocity with your peers.</p>
						<h2>Available Quests:</h2>
						<div class='container-fluid'>
							<div class="row-fluid">
							  	<div class="col-sm-6 col-md-4">
							    	<div class="thumbnail">
							      		<div class="caption" style='text-align:center' ng-init='briefingVisible=false'>
											<h3>Rescue Sir Tim Berners-Lee from the WWW!
											</h3>
											<img src="img/tbl-rescue.png" alt="Rescue Sir Tim Berners-Lee from the WWW!" />
											<p style='margin-top:5px'>
									      		<a href='#' role='button' class='btn btn-success' ng-click='stepLoad("quests/neophyte/001-Rescure_TBL_from_the_WWW/missions/001-TBL_is_lost_in_the_WWW/mission.html")'>Start Quest Missions</a><strong>&nbsp;or&nbsp;</strong><a class='btn btn-primary' href='#' role='button' ng-click='briefingVisible=true'>See Quest Briefing</a>
								      		</p>
								      		<p style='text-align:left;' class='well well-small' ng-show='briefingVisible'>
												Sir Tim Berners-Lee (TBL) invented the World Wide Web in 1988. Robotic time bandits from the future have traveled back to 1987 and ripped TBL from the space-time continuum and sent him back to another WWW, the Wild Wild West of 1887. Go on a quest to save TBL from a terrible fate and ensure the creation of the web and the future!
											</p>    
							      		</div>
							    	</div>
							  	</div>
							</div>
						</div>
					</div>
			        <div ng-repeat='stepCode in stepsCode'>
			        	<div ng-init='code=stepCode'>
			            	<div ng-include="'learnLocityEditor.html'" ng-controller='editorController'></div>
			          	</div>
			        </div>
				</div>
			</div>	
		</div>
	</body>
	<script>
var learnlocity = angular.module('learnlocity',['snap', 'learnlocity.identity', 'learnlocity.editor', 'ui.bootstrap']);
learnlocity.run(function($rootScope) {
	$rootScope.peersVisible = false;
});

learnlocity.controller('tutorialController', function($rootScope, $scope, $http, $sce) {
	$scope.homeVisible = true;
	$scope.questMissionsComplete = 0;
	$scope.questMissionsTotal = 6;
	$scope.questPercentComplete = function() {
		var pc = Math.floor(100 * ($scope.questMissionsComplete / $scope.questMissionsTotal));
		console.log(pc);
		return pc;
	};

	$scope.getTutorialClass = function() {
		if ($rootScope.peersVisible === undefined) return 'span7';
		if ($rootScope.peersVisible) return 'span7';
		return 'span12';
	};
	$rootScope.notMine = function(code) {
		return function(item) {
			return item.id != "__YOURS__";
		};
	};	

	function initializeCode() {
		$rootScope.peersCode = [];
	  	$rootScope.stepsCode = [];
  	}

  	function createCodeFromXml(data) {
  		initializeCode();
		var xml = new DOMParser().parseFromString(data, "application/xml");
		var name = xml.getElementsByTagName('title')[0].textContent;
		var id = xml.getElementsByTagName('id')[0].textContent;
		var story = xml.getElementsByTagName('section')[0].textContent;
		var html = xml.getElementsByTagName('section')[1].textContent;		
		var js = xml.getElementsByTagName('script')[0].textContent;
		var css = xml.getElementsByTagName('style')[0].textContent;

		var item = {
			name: name,
			id: id,
			storyCode: story,
			code: {
				html: html,
				js: js,
				css: css
			}
		};

		item.story = $sce.trustAsHtml(item.storyCode);		
		
		$rootScope.peersCode.push(item);  	
		if (id == '__YOURS__') {
			$rootScope.stepsCode.push(item);
		}
	}

	$rootScope.questLoad = function(questName) {
		var rootUrl = "quests/" + questName + "/";
		$http.get(rootUrl + "quest.html").success(function(data) {
			var quest = new DOMParser().parseFromString(data, "text/html");
			var questTitle = quest.querySelectorAll("section")[0].textContent;
			var questDescription = quest.querySelectorAll("article")[0].textContent;
			$rootScope.questInfo = { title: questTitle, description: questDescription };
			var missionLinks = quest.querySelectorAll('nav>ul>li');			
			var missions = [];
			for(var i = 0; i < missionLinks.length; i++) {
				var missionLink = missionLinks[i];
				var href = missionLink.querySelectorAll('[href]')[0].attributes["href"].value;
				missions.push({
					title: missionLink.textContent,
					description: missionLink.textContent,
					href: rootUrl + href
				});
			}
			$rootScope.missions = missions;
		});
	};

	$rootScope.stepLoad = function(missionHref) {
		$scope.homeVisible = false;
		$http.get(missionHref).success(createCodeFromXml);
	}

	$rootScope.questLoad("neophyte/001-Rescure_TBL_from_the_WWW");
});
  </script>
  <script type='text/coffeescript' src='lib/tutorializr/tutorializr.coffee'></script>
  <script type='text/coffeescript' src='lib/learnlocity/learnlocity.identity.coffee'></script>
  <script type='text/coffeescript' src='lib/learnlocity/learnlocity.editor.coffee'></script>
  <script src='lib/mongolab/mongoLabResourceFactory.js'></script>  
  <script type='text/coffeescript' src='lib/learnlocity/learnlocity.api.coffee'></script>  
  <script type="text/javascript" src="lib/coffee/coffee-script.min.js"></script>
  <script type="text/coffeescript">
$ ->
  angular.bootstrap document, ['learnlocity', 'ui.bootstrap']
  </script>
</html>